input {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 30px;
  gap: 10px;

  width: 510px;
  height: 62px;

  border: 1px solid #161616;

  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.1));
  border-radius: 100px;

  font-size: 1.75em;
}

input::-webkit-input-placeholder {
  outline-offset: 0;
  line-height: 4;
}

input:focus {
  font-size: 1.75em;
  outline-offset: 0;
}
input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.text-input {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.text-input label {
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;
  font-size: 1.75em;
}
