.search {
  display: flex;
  padding: 10px 30px;
}

.search-magnifer {
  border: 1px solid #161616;
  width: 62px;
  height: 62px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 100px 0px 0px 100px;
  border-right: 0px;
  cursor: pointer;
}

.search-right {
  height: 62px;
  border: 1px solid #161616;
  border-radius: 0px 100px 100px 0px;
  border-left: 0px;

  background: white;
}

.search-input {
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.1));
  border-radius: 0px 100px 100px 0px;
  border: 0px;
  width: 238px;
  font-size: 1.75em;
}

.search-input::-webkit-input-placeholder {
  outline-offset: 0;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;

  color: #b3b3b3;
}

.search-input:focus {
  font-size: 1.75em;
  outline-offset: 0;
}
.search-input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.text-input {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.text-input label {
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;
  font-size: 1.75em;
}
