.profile {
  display: flex;
  flex-direction: row;
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 60px;
}

.profile-right {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.profile-left {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.profile-right img {
  width: 300px;
  height: 300px;
  border-radius: 100px;
  margin: 0px;
}

.profile-right h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 56px;
  line-height: 64px;
  margin-bottom: 0px;
  font-size: 40px;
  margin-top: auto;
}

.profile-btns {
  display: flex;
}
.profile-btns :first-child {
  margin-right: auto;
}

.btn-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  margin-right: 120px;

  margin-top: 64px;
  margin-left: 120px;
  margin-bottom: 64px;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.3));
}

.search-tab {
  display: flex;
  align-items: center;
  margin-left: 120px;
  margin-right: 120px;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.3));
}

.search-tab .search-btn {
  width: auto;
}

.table {
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 64px;
  margin-bottom: 104px;
}

.table-content {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
