.header {
  font-style: normal;
  font-weight: 500;
  font-size: 62px;
  line-height: 93px;
  margin-top: 100px;
}

.create-user {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.create-user h1 {
  margin-bottom: 124px;
}
