version: "3"

services:
  postgres:
    image: "postgres:14.2"
    ports:
      - "5432:5432"
    restart: always
    deploy:
      mode: replicated
      replicas: 1
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: ongambl
    volumes:
      - ./db-data/postgres/:/var/lib/postgresql/data/

  backend-service:
    build:
      context: ./../backend-service
      dockerfile: ./../backend-service/backend-service.dockerfile
    restart: always
    ports:
      - "4000:4000"
    deploy:
      mode: replicated
      replicas: 1
    depends_on:
      - migrate

  migrate:
    image: migrate/migrate
    volumes:
      - ./../backend-service/migrations:/migrations
    command:
      [
        "-path",
        "migrations",
        "-database",
        "postgres://postgres:password@postgres/ongambl?sslmode=disable",
        "up",
      ]
    restart: on-failure:3
    links:
      - postgres
    depends_on:
      - postgres
