.article-content {
  margin-left: 190px;
  margin-right: 190px;
  margin-top: 60px;
  margin-bottom: 88px;

  display: flex;
  flex-direction: column;
  gap: 40px;
}

.extra-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.article-content h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 62px;
  line-height: 64px;
}

.meta-info {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.meta-info p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #b3b3b3;
}

.article-content * {
  margin: 0px;
}
.article-content .user-content {
  display: flex;
}
.article-content .text-content {
  display: flex;
  flex-direction: column;
}

.user-content {
  display: flex;
  gap: 16px;
}

.user-text {
  display: flex;
  flex-direction: column;
}

.user-text p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #b3b3b3;
}

.user-content img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  align-self: center;
}

.article-container img {
  width: 1060px;
  height: 600px;
}

.article-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.article-container h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
}
.article-container h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
}

.article-container p {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  text-align: justify;
}

.article-container ul li {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  text-align: justify;
}

.article-container ol li {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  text-align: justify;
}

.article-container a {
  font-style: normal;
  font-weight: 400;
  text-align: justify;
  text-decoration-line: underline;
  color: #e1083b;
}

.article-content .btn-link {
  display: flex;
  align-self: center;
}

@media (min-width: 320px) {
  .article-content {
    margin: 0px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .article-content h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
  }
  .article-container h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 36px;
  }
  .article-container h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
  }
}
