.profile {
  display: flex;
  flex-direction: row;
  margin-left: 120px;
  margin-right: 80px;
}

.profile-right {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: auto;
}

.profile-right img {
  width: 300px;
  height: 300px;
  border-radius: 100px;
}

.profile-right h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 56px;
  line-height: 64px;
}

.profile-btns {
  display: flex;
}
.profile-btns :first-child {
  margin-right: auto;
}
