.start-btn {
  background-color: #e1083b;
  color: #f9f9f9;
  padding: 11px 24px;
  border-radius: 100px;
  font-size: 28px;
  text-align: center;
  display: inline-block;
  font-weight: 500;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.1);
}

a {
  text-decoration: none;
}
